<%-include('./partials/header')%>
<%-include('./partials/navbar')%>


<div class="container mt-5">
  <h3>All Blogs🙂</h3>
  <%blogs.forEach(blog=>{%>
    <div class="card">
      <div class="card-body">
        <p class="text-muted">published at: <%= blog.postedAt %></p>
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= blog.content.slice(0, 99) %>....<a href="#">Read Morre</a></p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  <%})%>
  
</div>

<%-include('./partials/footer')%>